@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
body {
  max-width: 100%;
  font-family: 'IBM Plex Sans', sans-serif;
  padding: 0px !important;
  /* font-size: 100%; */
  overflow-y: scroll;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: #e5e5e5 !important;
}
.row{
  --bs-gutter-x: none !important;
}
a {
  text-decoration: none;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
  color: white !important;
}
a:hover {
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
  color: white;
}



/* -------------
Sidebar
----------------*/
.sidebar {
  position: fixed;
  width: 25%;
  /* border-radius: 0px 10px 10px 0px; */
  height: 100vh;
  top: 0;
  overflow: hidden;
  background-color: #19222a;
  
  visibility: visible;
  /* -webkit-transform: translateZ(0); */
  /* -webkit-backface-visibility: hidden; */
}
.sidebar header {
  width: 100%;
  display: block;
  padding: 0.75em 1em;
}
.sidebar-nav a{
  text-decoration: none;
  color:#4A4B68 !important;
}
.sub-nav  a{
  color: #888C9F !important;
}

/* -------------
Sidebar Nav
----------------*/
.sidebar-nav {
  background-color: #19222a;
  height: 100vh !important;
  font-weight: 400;
  z-index: 9;

  /* -------------
  Chev elements
  ----------------*/
  /* -------------
  Nav-Flyout
  ----------------*/
  /* -------------
  Hover
  ----------------*/
}
.sidebar-nav ul {
  list-style: none;
  display: block;
  /* padding: 0; */
  margin: 0;
}
.header-title img {
  width: 8rem;
}
.sidebar-nav ul li {
  margin-left: 0;
  padding-left: 0;
  display: inline-block;
  width: 100%;
  /* -------------
  Sidebar: icons
  ----------------*/
}
.sidebar-nav ul li a {
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.75em;
  padding: 1.05em 0em;
  position: relative;
  display: block;
}
.sidebar-nav ul li a:hover {

  transition: all 0.6s ease;
    background: #1B1B28;
    border-radius: 4px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.sidebar-nav ul li i {
  font-size: 1.8em;
  padding-right: 0.5em;
  width: 9em;
  display: inline;
  vertical-align: middle;
}
.sidebar-nav > ul > li > a:after {
  content: "";
  font-family: ionicons;
  font-size: 0.5em;
  width: 10px;
  color: #fff;
  position: absolute;
  right: 0.75em;
  top: 45%;
}
.sub-nav{
  left:10px !important;
}
a {
  text-decoration: none;
}

.container {
  /* width: 1170px; */
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar {
  width: 100%;
  overflow: hidden;
}
/* @media (min-width: 2000px) {
  .navbar{
    margin-left: -123px !important;
    width: 1421px !important;
  }
} */
.navbar {
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
  background-color: #fff;
  border-bottom: 1px solid #eceef3;
  /*
  |-----------------------------------
  | Start navbar logo or brand etc..
  |-----------------------------------
  */
  /*
  |-----------------------------------
  | Start navbar menu
  |-----------------------------------
  */
}
@media (min-width: 576px) {
  .navbar .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .navbar .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .navbar .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .navbar .container {
    max-width: 1140px;
  }
}
.navbar .navbar-header {
  display: flex;
  align-items: center;
  margin-left: 25px;
}
@media (max-width: 768px) {
  .navbar .navbar-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}
.navbar .navbar-header .navbar-toggler {
  cursor: pointer;
  border: none;
  display: none;
  outline: none;
}
@media (max-width: 768px) {
  .navbar .navbar-header .navbar-toggler {
    display: block;
  }
}
.navbar .navbar-header .navbar-toggler span {
  height: 2px;
  width: 22px;
  background-color: #929aad;
  display: block;
}
.navbar .navbar-header .navbar-toggler span:not(:last-child) {
  margin-bottom: 0.2rem;
}
.navbar .navbar-header > a {
  font-weight: 500;
  color: #3c4250;
}
.navbar .navbar-menu {
  display: flex;
  align-items: center;
  flex-basis: auto;
  flex-grow: 1;
}
@media (max-width: 1000px) {
  .navbar .navbar-menu {
    display: none;
    text-align: center;
  }
}
.navbar .navbar-menu .navbar-nav {
  margin-left: auto;
  flex-direction: row;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav {
    width: 100%;
    display: block;
    border-top: 1px solid #eee;
    margin-top: 1rem;
  }
}
.navbar .navbar-menu .navbar-nav > li > a {
  color: #3c4250 !important;
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 1rem;
}
.navbar .navbar-menu .navbar-nav > li > a:hover {
  color: #66f;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav > li > a {
    border-bottom: 1px solid #eceef3;
  }
}
.navbar .navbar-menu .navbar-nav > li.active a {
  color: #66f;
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
  list-style: none;
  position: absolute;
  top: 150%;
  left: 0;
  background-color: #fff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  min-width: 160px;
  width: auto;
  white-space: nowrap;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 99999;
  border-radius: 0.75rem;
  display: none;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
    position: relative;
    box-shadow: none;
  }
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown li a {
  color: #3c4250;
  padding: 0.25rem 1rem;
  display: block;
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown.show {
  display: block !important;
}
.navbar .navbar-menu .navbar-nav .dropdown > .separator {
  height: 1px;
  width: 100%;
  margin-top: 9px;
  margin-bottom: 9px;
  background-color: #eceef3;
}
.navbar .navbar-dropdown {
  position: relative;
}

.navbar .navbar-header > a span {
  color: #66f;
}

.navbar .navbar-header h4 {
  font-weight: 500;
  font-size: 1.25rem;
}
@media (max-width: 768px) {
  .navbar .navbar-header h4 {
    font-size: 1.05rem;
  }
}
.bedge {
  font-size: 8px;
  z-index: 99;
  float: right;
  color: green;
  font-weight: 500;
}
.notification-dropDown {
  z-index: 999;
  opacity: 1;
  position: fixed;
  width: 500px;
  height: 350px;
  right: 30px;
  top: 50px;
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(56, 71, 109, 0.09);
  border-radius: 12px;
}
.profile-dropDown{
  z-index: 999;
  opacity: 1;
  position: fixed;
  width: 250px;
  height: 250px;
  right: 30px;
  top: 50px;
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(56, 71, 109, 0.09);
  border-radius: 12px;

}
.profile-edit-btn{
  margin-left: 80px;
}
.profile-dropdown-container-2{
  color:black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
.profile-dropdown-container-2 ul{
  line-height: 30px;
  list-style: none;
}
.notification-dropDown li {
  list-style: none;
}
.notification-title,
.common-title {
  /* border: 1px solid black; */
  /* width: 0rem; */
  margin-left: 4px;

}
.stock-list {
  margin-top: 2rem;
  padding: 1rem;
}
/* .row {
    margin-left: 0 !important;
    margin-right: 0px !important;
} */
.notification-title h6,
.common-title h5 {
  font-size: 13px;
  margin-bottom: 0px;
}
.notification-title p,
.common-title p {
  font-size: 9px;
  margin-top: 0px;
  color: grey;
}
.notification-profile-button {
  width: 74px;
  height: 26px;
  margin-left: 15rem;
  background: #eee5ff;
  border-radius: 6px;

  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 14px;
  border: 0;
  color: #8950fc;
}
.common-count {

  padding: 8px 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  text-align: center;

  color: #ffffff;
  background: #49cb67;
  border-radius: 6px;
}
.notification-profile-button:focus {
  box-shadow: none !important;
}
.top-notification-button {
  position: static;
  width: 131px;
  margin-right: 2rem;
  height: 24px;
  background: #1e1e2d;
  border-radius: 6px;
  width: auto ;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  /* line-height: 16px; */
  color: #888c9f;
  border: 0px;
}
.common-image {
  margin-top: 0.1rem;
  border: 1px solid whitesmoke;
  width: 2.5rem;
  border-radius: 12%;
  height: 2.5rem;
  margin-left: -2px !important;
}
.profile-image {
  background: #D7F9EF;
  border-radius: 4px;
  padding: 10px;
}
.profile-title,
.common-title {
  font-weight: 100;
  font-size: 12px;
  margin-right: 0px !important;
}
.search-input {
  border: 1px solid whitesmoke;
  margin-top: 0.3rem;
  border-radius: 5rem;
  overflow: hidden;
}
.search-input input {
  border: none !important;
  outline: none;
  font-size: 10px;
  padding: 5px;
  color: grey;
  width: 85%;
}
.search-input i {
  float: right;
  width: 10%;
  margin-top: 0.5rem;
  margin-right: 3px;
  font-size: 10px;
}
/* //dashborad */
.main-chart-contianer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 15px;
  top: 1rem;
  background: #ffffff;
  border-radius: 10px;
}
.sub-main-chart-header{
  padding: 2rem;
}
.dh-2,
.dh-3{
  margin-left: 30px;
}
.dh-1 {
  margin-left: 20px;
}
.dh-1 h5{
   font-size: 18px;
   color:#212121BF;
}
.dh-2 h5,.dh-3 h5{
  color:#212121BF;
  font-size: 12px !important;
}
.dh-2 h6,.dh-3 h6{
  color:#212121BF;
  font-size: 12px;
}
.sub-chart-filter-btns{
  /* float: right;
  width: 15rem; 
  padding: 0px !important;
  border: 1px solid black;  */
  margin-left:380px !important;
}
.sub-chart-filter-btns p{
  font-size: 16px;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-align: center;
}
.sub-chart-filter-btns button{
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 15px;
}
.main-stocks-container {
  /* position: absolute; */
  /* width: 576.5px; */
  height: 356px;
  /* left: 293px; */
  /* top: 650px; */

  background: #ffffff;
  border-radius: 12px;
}
.main-customer-container {
  /* position: absolute; */
  /* width: 576.5px; */
  height: 356px;
  /* left: 892px; */
  /* top: 650px; */

  background: #ffffff;
  border-radius: 12px;
}
.main-stocks-container h6,
.main-customer-container h6 {
  /* position: absolute; */
  width: 100%;
  height: 23px;


  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;

  color: #212121;
}
/* //customer page  */
.user-row-data {
  border: 1px solid black;
}
.customer-main-container {
  position: absolute;
  width: 83%;
  padding: 2rem;
  height: 100%;
  /* left: 293px; */
  /* top: 145px; */

  background: #ffffff;
  border-radius: 8px;
}
.edit-icon-button {
  width: 32px;
  height: 32px;
  right: 30px;
  top: 382px;
  background: #f3f6f9;
  border-radius: 6px;
  padding: 6px;
}
.customer-status {
  /* display: flex;
flex-direction: row; */
  align-items: flex-start;
  padding: 6px 12px;

  /* position: absolute; */
  width: 89px;
  height: 26px;

  color: #8950fc;
  background: #eee5ff;
  border-radius: 4px;
}
.customer-filter {

  padding: 7px 13px;
  
  /* position: absolute; */
  width: 8rem !important;
  /* height: 33px; */
  float: right !important;
 
  
  background: #F3F6F9 !important;
  border-radius: 4px;
  color: #6993FF !important;
}
.top-navigate-link{
  margin:5px;
  text-decoration: none;

  font-size: 15px;
  color:grey !important;
}
.active{
   color: black;
}
.customer-modal{
  width: 100% !important;
  height: 100% !important;
  z-index: 99;
  opacity: 0.5;
  top:0;
  left: 0;
  position:fixed;
  background: linear-gradient(135deg, #131414, #230f23);
}
.customer-dailog{
  margin: 5rem auto;
  width:40rem;
  z-index: 9099 !important;
  /* position:absolute; */
  opacity: 1 !important ;

}
.balance-form label{
  font-size: 14px;
  color: #464E5F;
}
.balance-form input::placeholder,.balance-form select{
  font-size: 13px;
  color: #464E5F;
}
.balance-form .col{
  margin: 10px !important;
}
.balance-add{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 12px;

/* position: static; */
width: 256px;
height: 38px;
left: 50px !important;
top: 6px;

/* Investo/Temp/Green */

background: #49CB67 !important;
border-radius: 4px;
color: white !important;
/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 1;
margin: 10px auto;
}
.color-change-box{
  /* float: right; */
  width: 20rem;
  height: 13rem;
  position:absolute;
  z-index: 999 !important;
  top: 10rem;
  right: 0;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black !important;
}
.box {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.blue {
  background: #13b4ff;
}

.purple {
  background: #ab3fdd;
}

.wine {
  background: #ae163e;
}
.main-error-page{
  padding:10rem 23rem;
}
.main-error-page img{
  width:20rem;
  height: 8em;
}
.main-error-page p a{
  color: #19222a;
}
.main-error-page .error{
  text-align: center;
}
/* login */
.logo-investo {
  margin: 5% auto;
  display: block;
  text-align: center;
}
.login-text {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.02em;

  color: #2F3044;
}
.email-id {
  width: 380px;
  height: 70px;

  border: 0;
  background: #EEF1F5;
  border-radius: 12px;
}
.ml-5 {
  margin-left: 3rem;
}
.mr-5 {
  margin-right: 3rem;
}
.password {
  width: 380px;
  height: 70px;

  border: 0;
  background: #EEF1F5;
  border-radius: 12px;
}
.forgot-pass {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: right;

  /* Investo/Temp/Green */
  text-decoration: none;
  color: #49CB67 !important;
}
.login-btn {
  width: 109px;
  height: 48px;
  border: 0;
  background: #464E5F !important;
  color: #fff;
  border-radius: 6px;
}
.bg-color {
  width: 87%;
  height: 100%;

  background: linear-gradient(180deg, #000000 0%, #000000 100%);
}
.image-stack {
  display: grid;
  position: relative; 
  grid-template-columns: repeat(12, 1fr);
}

.image-stack__item--bottom {
  grid-column: 4 / -1;
  grid-row: 1;
  margin-top: 20%;
}
.imgs {
  width: 100%;
}

.image-stack__item--top {
  grid-row: 1;
  grid-column: 1 / span 8;
  padding-top: 40%;
  z-index: 1;
}
i.fas.fa-chevron-left,
i.fas.fa-chevron-right {
  color: #000;
}
@media (max-width:1024px) {
  .customer-main-container {
    margin-left: 80px !important;
  }
  .sidebar {
    height: 113vh;
  }
  div>.navbar {
    /* margin-left: 8% !important; */
    width: 100%;
  }
}
@media (max-width: 768px) {
  .navbar,
  .navbar > .container {
    display: block;
    width: 80% !important;
  }
  .recharts-wrapper,
  svg.recharts-surface {
    width: 100% !important;
  }
  div>.sub-chart-filter-btns {
    margin-left: 0 !important;
  }
  .container-md, .container-sm, .container,
  .main-stocks-container,
  .main-customer-container {
    max-width: 540px !important;
    margin-left: 28% !important;
  }
  .main-customer-container {
    margin-top: 1rem !important;
  }
  .navbar, .navbar > .container {
    width: 100% !important;
  }
  div>.navbar {
    margin-left: 0px !important;
  }
  .navbar .navbar-header {
    justify-content: unset !important;
    flex-direction: unset !important;
  }
}
@media (max-width:481px) {
  .bg-color {
    width: 100%;
    margin-top: 3rem;
  }
  .recharts-wrapper {
    width: 100% !important;
  }
  svg.recharts-surface {
    width: 100% !important;
  }
  div>.sub-chart-filter-btns {
    margin-left: unset !important;
  }
  /* aside.sidebar {
    display: none;
  } */
  .common-count {
    margin-left: 14rem;
  }
  .navbar, .navbar > .container,
  .container.main-chart-contianer  {
    width: 100% !important;
  }
  div>.navbar {
    margin-left: 0px !important;
  }
  .navbar .navbar-header {
    justify-content: unset;
    flex-direction: unset;
  }
  .container-md, .container-sm, .container,
  .main-stocks-container,
  .main-customer-container {
    margin-left: unset !important;
  }
  .row.customer-main-container {
    width: 100% !important;
  }
  .customer-main-container {
    margin-left: 0px !important;
  }
  aside.sidebar {
    z-index: 1;
    /* display: none; */
  }
  .main-error-page {
    padding: 10rem 0rem;
  }
}
.close {
  color: #fff;
  border: 1px solid #fff;
  padding: 5px;
  cursor: pointer;
}
@media (max-width:320px) {
  .sub-main-chart-header {
    padding: unset !important;
  }
  .common-count {
    margin-left: 10rem;
  }
  div>.sub-chart-filter-btns {
    margin-left: -16px !important;
  }
}

/* sidebar ---------------------*/
.menu {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-transform: uppercase;

  color: #4A4B68;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
  margin: 0px 4px;
}
.active>.submenu {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */

  align-items: center;

  color: #FFFFFF;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 16px;
}
.submenu {
  
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */

  align-items: center;
  color: #888C9F;


  /* Inside auto layout */
  order: 1;
  flex-grow: 0;
  margin: 0px 16px;
}
.home,
.submenu,
.dollar,
.customer,
.account,
.trandinghistory,
.order-list,
.order {
  display: inline-block;
  vertical-align: middle;
}
svg.recharts-surface {
  width: 95% !important;
  margin: auto;
  display: block;
}
.recharts-wrapper {
  width: 100% !important;
}
.container.main-chart-contianer {
  width: 95%;
}
.stock-text {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;

  color: #212121;
}
.top-stocks {
  width: 90%;
  margin: auto;
  display: block;
  padding: 20px;

  background: #FFFFFF;
  border-radius: 12px;
}
.top-customer {
  width: 90%;
  margin: auto;
  display: block;
  padding: 20px;

  background: #FFFFFF;
  border-radius: 12px;
}
.text-1 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  color: #000000;
}
.text-2 {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
  /* identical to box height */


  color: #B5B5C3;
}
.one {
  width: 40px;
  height: 40px;
  padding: 8px 14px;

  float: right;
  background: #49CB67;
  border-radius: 6px;
}
.text {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  text-align: center;

  color: #FFFFFF;
}

@media (max-width:767px) {
  .top-customer {
    margin-top: 2rem;;
  }
}