@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600);
body {
  font-family: "Lato";
  padding: 0px !important;
  /* font-size: 100%; */
  overflow-y: scroll;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: #E5E5E5 !important;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
  color: white !important;
}
a:hover {
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
  color: white;
}

.app {
  height: 100%;
  margin-left: -10px !important;
  /* position: fixed; */
}

/* -------------
Sidebar
----------------*/
.sidebar {
  position: fixed;
  width: 13em;
  border-radius: 0px 10px 10px 0px;
  height: 100vh;
  top: 0;
  overflow: hidden;
  background-color: #19222a;
  -webkit-transform: translateZ(0);
  visibility: visible;
  -webkit-backface-visibility: hidden;
}
.sidebar header {
  width: 100%;
  display: block;
  padding: 0.75em 1em;
}

/* -------------
Sidebar Nav
----------------*/
.sidebar-nav {
  background-color: #19222a;
  height: 100vh !important;
  font-weight: 400;
  z-index: 9;

  /* -------------
  Chev elements
  ----------------*/
  /* -------------
  Nav-Flyout
  ----------------*/
  /* -------------
  Hover
  ----------------*/
}
.sidebar-nav ul {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
}
.header-title img {
  width: 8rem;
}
.sidebar-nav ul li {
  margin-left: 0;
  padding-left: 0;
  display: inline-block;
  width: 100%;
  /* -------------
  Sidebar: icons
  ----------------*/
}
.sidebar-nav ul li a {
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.75em;
  padding: 1.05em 1em;
  position: relative;
  display: block;
}
.sidebar-nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.sidebar-nav ul li i {
  font-size: 1.8em;
  padding-right: 0.5em;
  width: 9em;
  display: inline;
  vertical-align: middle;
}
.sidebar-nav > ul > li > a:after {
  content: "";
  font-family: ionicons;
  font-size: 0.5em;
  width: 10px;
  color: #fff;
  position: absolute;
  right: 0.75em;
  top: 45%;
}
.sidebar-nav .nav-flyout {
  position: absolute;
  background-color: #080d11;
  z-index: 9;
  left: 2.5em;
  top: 0;
  height: 100vh;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.sidebar-nav .nav-flyout a:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
.sidebar-nav ul > li:hover .nav-flyout {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* //top nav  */

a {
  text-decoration: none;
}

.container {
  /* width: 1170px; */
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar,
.navbar > .container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /* position:absolute; */
  margin-left: 5px !important;
  overflow: hidden;
}
@media (max-width: 768px) {
  .navbar,
  .navbar > .container {
    display: block;
  }
}

.navbar {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  padding: 1rem 1.15rem;
  border-bottom: 1px solid #eceef3;
  /*
  |-----------------------------------
  | Start navbar logo or brand etc..
  |-----------------------------------
  */
  /*
  |-----------------------------------
  | Start navbar menu
  |-----------------------------------
  */
}
@media (min-width: 576px) {
  .navbar .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .navbar .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .navbar .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .navbar .container {
    max-width: 1140px;
  }
}
.navbar .navbar-header {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .navbar .navbar-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}
.navbar .navbar-header .navbar-toggler {
  cursor: pointer;
  border: none;
  display: none;
  outline: none;
}
@media (max-width: 768px) {
  .navbar .navbar-header .navbar-toggler {
    display: block;
  }
}
.navbar .navbar-header .navbar-toggler span {
  height: 2px;
  width: 22px;
  background-color: #929aad;
  display: block;
}
.navbar .navbar-header .navbar-toggler span:not(:last-child) {
  margin-bottom: 0.2rem;
}
.navbar .navbar-header > a {
  font-weight: 500;
  color: #3c4250;
}
.navbar .navbar-menu {
  display: flex;
  align-items: center;
  flex-basis: auto;
  flex-grow: 1;
}
@media (max-width: 1000px) {
  .navbar .navbar-menu {
    display: none;
    text-align: center;
  }
}
.navbar .navbar-menu .navbar-nav {
  margin-left: auto;
  flex-direction: row;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav {
    width: 100%;
    display: block;
    border-top: 1px solid #eee;
    margin-top: 1rem;
  }
}
.navbar .navbar-menu .navbar-nav > li > a {
  color: #3c4250 !important;
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 1rem;
}
.navbar .navbar-menu .navbar-nav > li > a:hover {
  color: #66f;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav > li > a {
    border-bottom: 1px solid #eceef3;
  }
}
.navbar .navbar-menu .navbar-nav > li.active a {
  color: #66f;
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
  list-style: none;
  position: absolute;
  top: 150%;
  left: 0;
  background-color: #fff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  min-width: 160px;
  width: auto;
  white-space: nowrap;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 99999;
  border-radius: 0.75rem;
  display: none;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
    position: relative;
    box-shadow: none;
  }
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown li a {
  color: #3c4250;
  padding: 0.25rem 1rem;
  display: block;
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown.show {
  display: block !important;
}
.navbar .navbar-menu .navbar-nav .dropdown > .separator {
  height: 1px;
  width: 100%;
  margin-top: 9px;
  margin-bottom: 9px;
  background-color: #eceef3;
}
.navbar .navbar-dropdown {
  position: relative;
}

.navbar .navbar-header > a span {
  color: #66f;
}

.navbar .navbar-header h4 {
  font-weight: 500;
  font-size: 1.25rem;
}
@media (max-width: 768px) {
  .navbar .navbar-header h4 {
    font-size: 1.05rem;
  }
}
.bedge {
  font-size: 8px;
  z-index: 99;
  float: right;
  color: green;
  font-weight: 500;
}
.notification-dropDown {
  /* border: 1px solid whitesmoke;
  background-color: white;
  height: 15rem;
 
  position: fixed;
  top: 50px;
  border-radius: 1rem;
  padding: 1rem;
  right: 50px;
  width: 30rem; */
  z-index: 999;
  opacity: 1;
  position: fixed;
  width: 628px;
  height: 479px;
  right: 30px;
  top: 50px;
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(56, 71, 109, 0.09);
  border-radius: 12px;
}
.notification-dropDown li {
  list-style: none;
}
.notification-title,
.common-title {
  /* border: 1px solid black; */
  width: 20rem;
  margin-left: 10px;
}
.stock-list {
  margin-top: 5rem;
}
.notification-title h6,
.common-title h5 {
  font-size: 13px;
  margin-bottom: 0px;
}
.notification-title p,
.common-title p {
  font-size: 9px;
  margin-top: 0px;
  color: grey;
}
.notification-profile-button {
  width: 74px;
  height: 26px;

  background: #eee5ff;
  border-radius: 6px;

  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 14px;
  border: 0;
  color: #8950fc;
}
.common-count {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 12px;
  padding: 8px 15px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  text-align: center;

  color: #ffffff;
  background: #49cb67;
  border-radius: 6px;
}
.notification-profile-button:focus {
  box-shadow: none !important;
}
.top-notification-button {
  position: static;
  width: 131px;
  margin-right: 2rem;
  height: 24px;
  background: #1e1e2d;
  border-radius: 6px;
  width: 95px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  /* line-height: 16px; */
  color: #888c9f;
  border: 0px;
}
.profile-image,
.common-image {
  margin-top: 0.1rem;
  border: 1px solid whitesmoke;
  width: 2rem;
  border-radius: 50%;
  height: 2rem;
  margin-left: -2px !important;
}
.profile-title,
.common-title {
  font-weight: 100;
  font-size: 12px;
  margin-right: 0px !important;
}
.search-input {
  border: 1px solid whitesmoke;
  margin-top: 0.3rem;
  border-radius: 5rem;
  overflow: hidden;
}
.search-input input {
  border: none !important;
  outline: none;
  font-size: 10px;
  padding: 5px;
  color: grey;
  width: 85%;
}
.search-input i {
  float: right;
  width: 10%;
  margin-top: 0.5rem;
  margin-right: 3px;
  font-size: 10px;
}
/* //dashborad */
.main-chart-contianer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 15px;
  top:2rem;
  background: #ffffff;
  border-radius: 10px;
}
.main-stocks-container {
  position: absolute;
  /* width: 576.5px; */
  height: 356px;
  /* left: 293px; */
  /* top: 650px; */

  background: #ffffff;
  border-radius: 12px;
}
.main-customer-container {
  position: absolute;
  /* width: 576.5px; */
  height: 356px;
  left: 892px;
  /* top: 650px; */

  background: #ffffff;
  border-radius: 12px;
}
.main-stocks-container h6,
.main-customer-container h6 {
  position: absolute;
  width: 150px;
  height: 23px;
  left: 30px;
  top: 24px;

  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;

  color: #212121;
}
/* //customer page  */
.user-row-data {
  border: 1px solid black;
}
.customer-main-container {
  position: absolute;
  width: 1050px;
  padding: 2rem;
  height: 100%;
  /* left: 293px; */
  /* top: 145px; */

  background: #ffffff;
  border-radius: 8px;
}
